<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style>
    #center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 40px;
            background: grey;
        }
	  
    .main-card{
        border: 1px solid lightgrey;
    }

    .main-card:hover{
        box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    }
</style> 

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <LINK REL="SHORTCUT ICON"
    HREF="media/testlogo.ico">
  <title>My Projects | Henry Wellman</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Henry Wellman</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/credentials">Credentials</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <input type="button" onclick="window.location.href='/search'" value="Search" class="btn btn-outline-success my-2 my-sm-0 "/>
      </form>
    </div>
  </nav>
  <div class="container text-center my-3">
    <h2 class="py-3">My Projects</h2>
    <div class="row">
        <div class="col-md-6 py-2">
            <div class="main-card" style="width: 30rem;" id="center">
              <figure class="">
                <img src="/media/purduetriptimer.png" class="card-img-top " alt="...">
              </figure>
              
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://github.com/HenryWellman/PurdueTripTimer" class="card-link">Purdue Trip Timer</a>
                    </h5>
                    <p class="card-text">An Android app that shows travel times between Purdue buildings 
                      based on crowd-sourced data stored on a server. A 
                      <a href="https://devpost.com/software/purdue-triptimer">Hello World 2020 Submission</a>
                      <div class="space-4000"></div>
                    </p>              
                </div>
            </div>
        </div>


        <div class="col-md-6 py-2">
		<div class ="main-card" style="width: 30rem;" id="center">
			<figure class="">
				<img src="/media/card image.jpg" class="card-img-top" alt="...">
			</figure>
                <div class="card-body">
			<h5 class="card-title">
				<a href="https://github.com/HenryWellman/waterudoing" class="card-link"> Water U Doing? </a> </h5>
			<p class="card-text"> A fun and interactive web-app that tracks your water consumption 
			and lets you compete on the leaderboard. A
			<a href="https://devpost.com/software/water-u-doing"> Boiler Make VIII Submission</a>
			<div class="space-4000"></div>
			</p>
		</div>
		</div>
	</div>

        <div class="col-md-12 py-2">
            <div class="main-card" style="width: 30rem;" id="center">
		    <figure class="">
			     <img src="/media/firstHomePage2.PNG" class="card-img-top" alt="...">
		    </figure>	     
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="https://github.com/HenryWellman/personal-portfolio-site" class="card-link">This Website</a> </h5>
                    <p class="card-text">The website you're on right now is powered by a fast and 
                      minimalist Django project for displaying relevant Computer Science information about myself.
                      <div class="space-10000"></div></p>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

 <footer class="text-center text-light bg-dark py-2">Copyright © 2021 Henry Wellman | All rights reserved</footer>  

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</body>

</html>
